apiVersion: v1
kind: Secret
metadata:
  name: calendar-secret
  labels:
    app: calendar
  namespace: {{ NAMESPACE }}
type: Opaque 
data:
  API_KEY: "{{ CALENDAR_API_KEY | b64encode }}"
  DB_PASSWORD: "{{ CAL_DB_PASSWORD | b64encode }}"
  DB_HOST: "{{ CAL_DB_HOST | b64encode }}"
  DB_USERNAME: "{{ CAL_DB_USERNAME | b64encode }}"
  DB_DATABASE: "{{ CAL_DB_DATABASE | b64encode }}"