apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: calendar-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: calendar
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/calendar"
