apiVersion: v1
kind: Service
metadata:
  name: calendar-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: calendar
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: calendar
  selector:
    app: calendar
