apiVersion: apps/v1
kind: Deployment
metadata:
  name: calendar-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: calendar
spec:
  replicas: {{ CALENDAR_REPLICAS|default("1", true) }}
  selector:
    matchLabels:
      app: calendar
  template:
    metadata:
      labels:
        app: calendar
    spec:
      securityContext:
        #readOnlyRootFilesystem: true
        # run as user node (uid 1000)
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
      - name: calendar
        image: {{ SCHULCLOUD_CALENDAR_IMAGE }}:{{ SCHULCLOUD_CALENDAR_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: calendar-configmap
        - secretRef:
            name: calendar-secret
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /ping
            port: 3000
            scheme: HTTP
          periodSeconds: 15
          successThreshold: 1
          timeoutSeconds: 4
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /ping
            port: 3000
            scheme: HTTP
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 4
        startupProbe:
          failureThreshold: 4
          httpGet:
            path: /ping
            port: 3000
            scheme: HTTP
          periodSeconds: 15
          successThreshold: 1
          timeoutSeconds: 4
        resources:
          limits:
            cpu: {{ CALENDAR_CPU_LIMITS|default("1000m", true) }}
            memory: {{ CALENDAR_MEMORY_LIMITS|default("1Gi", true) }}
          requests:
            cpu: {{ CALENDAR_CPU_REQUESTS|default("100m", true) }}
            memory: {{ CALENDAR_MEMORY_REQUESTS|default("128Mi", true) }}
            
