{
    "swagger": "2.0",
    "info": {
        "title": "Calendar API",
        "description": "API specification of the Schul-Cloud Calendar Service based on the JSON API specification 1.0 (http://jsonapi.org). Contribute today on https://github.com/schulcloud/schulcloud-calendar.",
        "version": "0.0.5",
        "contact": {
            "email": "schulcloud-dev@lists.myhpi.de"
        }
    },
    "host": "schul-cloud.org:3000",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json",
        "text/calendar"
    ],
    "tags": [
        {
            "name": "calendar",
            "description": "Get an ICS feed"
        },
        {
            "name": "events",
            "description": "Work with one or multiple events as JSON"
        },
        {
            "name": "events/ics",
            "description": "Work with one or multiple events as ICS string"
        },
        {
            "name": "filter",
            "description": "Get an ICS feed based on a pre-defined search token"
        },
        {
            "name": "share",
            "description": "Access an ICS feed from an external endpoint"
        }
    ],
    "paths": {
        "/calendar/list": {
            "get": {
                "summary": "Get an array with all ICS feeds for the given token",
                "responses": {
                    "200": {
                        "description": "All ICS feeds",
                        "schema": {
                            "$ref": "#/definitions/CalendarList"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "calendar"
                ],
                "security": [
                    {
                        "user-token": []
                    }
                ]
            }
        },
        "/calendar": {
            "parameters": [
                {
                    "name": "scope-id",
                    "in": "query",
                    "required": false,
                    "type": "string"
                }
            ],
            "get": {
                "summary": "Get an ICS feed",
                "responses": {
                    "200": {
                        "description": "ICS calendar feed",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "calendar"
                ],
                "security": [
                    {
                        "user-token": []
                    }
                ]
            }
        },
        "/events": {
            "get": {
                "parameters": [
                    {
                        "name": "scope-id",
                        "in": "query",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "event-id",
                        "in": "query",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "until",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "all",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "GetEventResponse",
                        "schema": {
                            "$ref": "#/definitions/GetEventResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "events"
                ],
                "security": [
                    {
                        "user-token": []
                    }
                ]
            },
            "post": {
                "summary": "Create a new Event for a list of UUIDs",
                "responses": {
                    "201": {
                        "description": "CreateEventResponse",
                        "schema": {
                            "$ref": "#/definitions/GetCreateSingleEventResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateModifyEventRequest"
                        }
                    }
                ],
                "tags": [
                    "events"
                ],
                "security": [
                    {
                        "user-token": []
                    }
                ]
            },
            "put": {
                "summary": "Modify an Event for a list of UUIDs, which has been created by the same service earlier",
                "responses": {
                    "200": {
                        "description": "Successful",
                        "schema": {
                            "$ref": "#/definitions/GetCreateSingleEventResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateModifyEventRequest"
                        }
                    }
                ],
                "tags": [
                    "events"
                ],
                "security": [
                    {
                        "user-token": []
                    }
                ]
            },
            "delete": {
                "summary": "Delete an Event for a list of UUIDs",
                "responses": {
                    "204": {
                        "description": "Successful"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeleteEventRequest"
                        }
                    }
                ],
                "tags": [
                    "events"
                ],
                "security": [
                    {
                        "user-token": []
                    }
                ]
            }
        },
        "/events/ics": {
            "post": {
                "summary": "Create a new Event for a list of UUIDs where the ics is given",
                "responses": {
                    "201": {
                        "description": "CreateEventResponse",
                        "schema": {
                            "$ref": "#/definitions/GetCreateSingleIcsEventResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateModifyIcsEventRequest"
                        }
                    }
                ],
                "tags": [
                    "events/ics"
                ],
                "security": [
                    {
                        "user-token": []
                    }
                ]
            }
        },
        "/events/ics/{event-id}": {
            "parameters": [
                {
                    "name": "event-id",
                    "in": "path",
                    "required": true,
                    "type": "number"
                }
            ],
            "put": {
                "summary": "Modify an Event for a list of UUIDs, which has been created by the same service earlier. Thereby the ics is transcribed.",
                "responses": {
                    "200": {
                        "description": "Successful",
                        "schema": {
                            "$ref": "#/definitions/GetCreateSingleIcsEventResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateModifyIcsEventRequest"
                        }
                    }
                ],
                "tags": [
                    "events/ics"
                ],
                "security": [
                    {
                        "user-token": []
                    }
                ]
            }
        },
        "/filter/{search-token}": {
            "parameters": [
                {
                    "name": "search-token",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "summary": "Get an extract of one calendar based on a pre-defined search token",
                "responses": {
                    "200": {
                        "description": "ICS calendar feed"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "filter"
                ]
            }
        },
        "/share/list": {
            "get": {
                "summary": "Get a list of current share tokens for the given authentication token",
                "responses": {
                    "200": {
                        "description": "ShareTokenList",
                        "schema": {
                            "$ref": "#/definitions/ShareTokenList"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "share"
                ],
                "security": [
                    {
                        "user-token": []
                    }
                ]
            }
        },
        "/share/calendar/{share-token}": {
            "parameters": [
                {
                    "name": "share-token",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "summary": "Get an ICS feed for the specified share token",
                "responses": {
                    "200": {
                        "description": "ICS calendar feed",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "share"
                ]
            }
        },
        "/share/{scope-id}/": {
            "parameters": [
                {
                    "name": "scope-id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "summary": "Create a new share token for the specified scope id",
                "responses": {
                    "201": {
                        "description": "ShareTokenList",
                        "schema": {
                            "$ref": "#/definitions/GetCreateSingleShareTokenResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "share"
                ],
                "security": [
                    {
                        "user-token": []
                    }
                ]
            }
        },
        "/share/{share-token}": {
            "parameters": [
                {
                    "name": "share-token",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "summary": "Get details for a given share token",
                "responses": {
                    "200": {
                        "description": "ShareToken",
                        "schema": {
                            "$ref": "#/definitions/GetCreateSingleShareTokenResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "share"
                ],
                "security": [
                    {
                        "user-token": []
                    }
                ]
            },
            "delete": {
                "summary": "Revoke the specified share token",
                "responses": {
                    "204": {
                        "description": "Successful"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "tags": [
                    "share"
                ],
                "security": [
                    {
                        "user-token": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "CalendarList": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "object",
                    "properties": {
                        "self": {
                            "type": "string",
                            "example": "https://schul-cloud.org:3000/calendar/list"
                        }
                    }
                },
                "data": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "enum": [
                                    "ics-feed-per-scope",
                                    "ics-feed"
                                ],
                                "example": "ics-feed-per-scope"
                            },
                            "id": {
                                "type": "string",
                                "example": "5d5b48a5-96f7-466d-850f-24069b869b64"
                            },
                            "attributes": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Maxi Mustermann"
                                    },
                                    "ics-url": {
                                        "type": "string",
                                        "description": "an ICS Feed with all scopes merged or for one scope",
                                        "example": "https://schul-cloud.org:3000/calendar/5d5b48a5-96f7-466d-850f-24069b869b64"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "CreateModifyEventRequest": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "example": "event"
                            },
                            "attributes": {
                                "$ref": "#/definitions/EventJSONattributes"
                            },
                            "relationships": {
                                "type": "object",
                                "properties": {
                                    "separate-users": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "scope-ids": {
                                        "description": "ids of entities",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "3b611d43-cf33-4a08-a50d-eac63975ea00"
                                        }
                                    }
                                }
                            },
                            "included": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "allOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "example": "rrule"
                                                },
                                                "attributes": {
                                                    "$ref": "#/definitions/RRuleJSONattributes"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "example": "exdate"
                                                },
                                                "attributes": {
                                                    "$ref": "#/definitions/ExDatesJSONattributes"
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string",
                                                    "example": "alarm"
                                                },
                                                "attributes": {
                                                    "$ref": "#/definitions/AlarmsJSONattributes"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "CreateModifyIcsEventRequest": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "example": "event"
                            },
                            "attributes": {
                                "type": "object",
                                "properties": {
                                    "ics": {
                                        "type": "string",
                                        "example": "BEGIN:VCALENDAR\\n...\\nEND:VCALENDAR"
                                    }
                                }
                            },
                            "relationships": {
                                "type": "object",
                                "properties": {
                                    "separate-users": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "scope-ids": {
                                        "description": "ids of entities",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "3b611d43-cf33-4a08-a50d-eac63975ea00"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "DeleteEventRequest": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "example": "event"
                            },
                            "relationships": {
                                "type": "object",
                                "properties": {
                                    "scope-ids": {
                                        "description": "ids of entities. Might be empty to delete the event completely.",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "3b611d43-cf33-4a08-a50d-eac63975ea00"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "GetEventResponse": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "object",
                    "properties": {
                        "self": {
                            "type": "string",
                            "example": "https://schul-cloud.org:3000/event"
                        },
                        "next": {
                            "type": "string",
                            "example": ""
                        },
                        "prev": {
                            "type": "string",
                            "example": ""
                        },
                        "first": {
                            "type": "string",
                            "example": ""
                        },
                        "last": {
                            "type": "string",
                            "example": ""
                        }
                    }
                },
                "data": {
                    "$ref": "#/definitions/GetEventResponseData"
                }
            }
        },
        "GetCreateSingleEventResponse": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "object",
                    "properties": {
                        "self": {
                            "type": "string",
                            "example": "https://schul-cloud.org:3000/event/?event-id=71c2f833-e26b-4635-b954-2f72f136cfd9"
                        }
                    }
                },
                "data": {
                    "$ref": "#/definitions/GetEventResponseData"
                }
            }
        },
        "GetCreateSingleIcsEventResponse": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "object",
                    "properties": {
                        "self": {
                            "type": "string",
                            "example": "https://schul-cloud.org:3000/event/?event-id=71c2f833-e26b-4635-b954-2f72f136cfd9"
                        }
                    }
                },
                "data": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "example": "event"
                            },
                            "id": {
                                "type": "string",
                                "example": "71c2f833-e26b-4635-b954-2f72f136cfd9"
                            },
                            "attributes": {
                                "type": "object",
                                "properties": {
                                    "ics": {
                                        "type": "string",
                                        "example": "BEGIN:VCALENDAR\\n...\\nEND:VCALENDAR"
                                    }
                                }
                            },
                            "relationships": {
                                "$ref": "#/definitions/GetEventResponseDataRelationships"
                            }
                        }
                    }
                }
            }
        },
        "GetEventResponseData": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "example": "event"
                    },
                    "id": {
                        "type": "string",
                        "example": "71c2f833-e26b-4635-b954-2f72f136cfd9"
                    },
                    "attributes": {
                        "$ref": "#/definitions/EventJSONattributes"
                    },
                    "relationships": {
                        "$ref": "#/definitions/GetEventResponseDataRelationships"
                    },
                    "included": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "allOf": [
                                {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "rrule"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "db7c2a08-0963-460d-a0e6-948bac85b145"
                                        },
                                        "attributes": {
                                            "$ref": "#/definitions/RRuleJSONattributes"
                                        }
                                    }
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "exdate"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "37dc1705-be2a-4410-b435-d8d95ce7a5f8"
                                        },
                                        "attributes": {
                                            "$ref": "#/definitions/ExDatesJSONattributes"
                                        }
                                    }
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "alarm"
                                        },
                                        "id": {
                                            "type": "string",
                                            "example": "24897696-ee2a-4dcc-ba14-6d8dc1107fb5"
                                        },
                                        "attributes": {
                                            "$ref": "#/definitions/AlarmsJSONattributes"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "GetEventResponseDataRelationships": {
            "type": "object",
            "properties": {
                "separate-users": {
                    "type": "boolean",
                    "example": true
                },
                "scope-ids": {
                    "description": "ids of entities",
                    "type": "array",
                    "items": {
                        "type": "string",
                        "example": "3b611d43-cf33-4a08-a50d-eac63975ea00"
                    }
                }
            }
        },
        "ShareTokenList": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "object",
                    "properties": {
                        "self": {
                            "type": "string",
                            "example": "https://schul-cloud.org:3000/share/list"
                        }
                    }
                },
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ShareToken"
                    }
                }
            }
        },
        "GetCreateSingleShareTokenResponse": {
            "type": "object",
            "properties": {
                "links": {
                    "type": "object",
                    "properties": {
                        "self": {
                            "type": "string",
                            "example": "https://schul-cloud.org:3000/share/629a8ebd-1b2e-48dd-b331-f9b6a62b7aec"
                        }
                    }
                },
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ShareToken"
                    }
                }
            }
        },
        "EventJSONattributes": {
            "type": "object",
            "properties": {
                "uid": {
                    "type": "string",
                    "example": "71c2f833-e26b-4635-b954-2f72f136cfd9@schul-cloud.org"
                },
                "summary": {
                    "type": "string",
                    "example": "Legend Summer Party"
                },
                "location": {
                    "type": "string",
                    "example": "HPI, Potsdam"
                },
                "description": {
                    "type": "string",
                    "example": "For students, alumni and special guests only"
                },
                "dtstart": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2017-07-28T15:00:00Z"
                },
                "dtend": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2017-07-28T23:00:00Z"
                },
                "dtstamp": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2017-01-08T13:36:00Z"
                },
                "last-modified": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2017-01-08T13:36:00Z"
                },
                "transp": {
                    "type": "string",
                    "example": "OPAQUE"
                },
                "sequence": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                },
                "recurrence-id": {
                    "type": "string",
                    "example": "20170108T133600Z"
                },
                "x-sc-...": {
                    "description": "custom Schul-Cloud specific fields, MUST have a 'x-sc-' prefix",
                    "type": "string"
                }
            }
        },
        "RRuleJSONattributes": {
            "type": "object",
            "properties": {
                "freq": {
                    "type": "string",
                    "enum": [
                        "daily",
                        "weekly",
                        "monthly",
                        "yearly"
                    ],
                    "example": "weekly"
                },
                "interval": {
                    "type": "integer",
                    "format": "int32",
                    "example": 1
                },
                "byday": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "enum": [
                            "mo",
                            "tu",
                            "we",
                            "th",
                            "fr",
                            "sa",
                            "su"
                        ],
                        "example": "su"
                    }
                }
            }
        },
        "ExDatesJSONattributes": {
            "type": "object",
            "properties": {
                "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2017-01-05T20:44:58Z"
                }
            }
        },
        "AlarmsJSONattributes": {
            "type": "object",
            "properties": {
                "trigger": {
                    "type": "string",
                    "example": "-PT5M"
                },
                "repeat": {
                    "type": "integer",
                    "format": "int32",
                    "example": 2
                },
                "duration": {
                    "type": "string",
                    "example": "PT15M"
                },
                "action": {
                    "type": "string",
                    "enum": [
                        "display",
                        "audio",
                        "email"
                    ],
                    "example": "display"
                },
                "attach": {
                    "type": "string",
                    "example": ";FMTTYPE=audio/basic:ftp://example.com/pub/sounds/bell-01.aud"
                },
                "description": {
                    "type": "string",
                    "example": "Prepare for summer party // Email body"
                },
                "attendee": {
                    "type": "string",
                    "example": "mailto:user@example.org"
                },
                "summary": {
                    "type": "string",
                    "example": "Email subject"
                }
            }
        },
        "ShareToken": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string",
                    "example": "share-token"
                },
                "id": {
                    "type": "string",
                    "example": "6e1acea2-8a78-4cc4-a10a-591b008ef231"
                },
                "attributes": {
                    "type": "object",
                    "properties": {
                        "token": {
                            "type": "string",
                            "example": "{share-token}"
                        },
                        "scope-id": {
                            "type": "string",
                            "example": "5d5b48a5-96f7-466d-850f-24069b869b64"
                        }
                    }
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "errors": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "status": {
                                "type": "integer",
                                "format": "int32"
                            },
                            "source": {
                                "type": "object"
                            },
                            "title": {
                                "type": "string"
                            },
                            "detail": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "user-token": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header",
            "description": "Pass the user's token to authenticate for any method where the token is not part of the URL."
        }
    }
}
