apiVersion: batch/v1
kind: Job
metadata:
  name: calendar-db-init-job
  labels:
    app: calendar
spec:
  template:
    spec:
      os:
        name: linux
      containers:
      - name: calendar-db-init
        image: schulcloud/infra-tools:latest
        envFrom:
        - secretRef:
            name: calendar-secret
        - configMapRef:
            name: calendar-configmap
{% if WITH_BRANCH_POSTGRES_DB_MANAGEMENT is defined and WITH_BRANCH_POSTGRES_DB_MANAGEMENT|bool %}
        - secretRef:
            name: pg-calendar-secret
        env:
        - name: DB_PASSWORD
          value: "$(DB_USER_PASSWORD)"
        - name: DB_USERNAME
          value: "$(DB_USER)"
        - name: DB_DATABASE
          value: "$(DB_NAME)"
{% endif %}
        volumeMounts:
        - name: script
          mountPath: /update.sh
          subPath: update.sh
        command: ['/bin/sh','-c']
        args: ['cp /update.sh /update.run.sh && chmod +x /update.run.sh &&./update.run.sh']
      volumes:
      - name: script
        configMap:
          name: calendar-db-init-file
          items:
          - key: update.sh
            path: update.sh
      restartPolicy: Never
  backoffLimit: 4
